<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Convert</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card >
      <!--Distance conversion card. This card can be collapsed when clicked on view button-->

    <ion-item color="dark">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Convert Distance</ion-label>
      <ion-button fill="outline" slot="end" (click)="hide('distCard')" color="success">View</ion-button>
    </ion-item>
    <div class="container">
    <ion-card-content *ngIf="distCardHide">

      <ion-grid>
        <div class="container"><ion-label>Kilometers</ion-label></div>
        <ion-row justify-content-center >
          <ion-input type="number" [ngModel]="kilometer" (ngModelChange)="kmtomi($event)" ></ion-input>
        </ion-row>
        
        <div class="container"> <ion-icon name="git-compare-sharp"></ion-icon></div>
       
        <ion-row justify-content-center>
          <ion-input type="number" [ngModel]="mile" (ngModelChange)="mitokm($event)" ></ion-input>
        </ion-row>

        <div class="container"> <ion-label>Miles</ion-label></div>
    
      </ion-grid>
    </ion-card-content>
  </div>
  </ion-card >

  <ion-card >
    <!-- Transmission conversion card. This card can be collpsed when clicked on view button-->

  <ion-item color="dark">
    <ion-icon name="radio-outline" slot="start"></ion-icon>
    <ion-label>Convert Tx Power</ion-label>
    <!-- TODO: work on the hidden logic for ion-card-content-->
    <ion-button fill="outline" slot="end" (click)="hide('txCard')" color="success" id="Tx">View</ion-button>
  </ion-item>
  <div class="container">
  <ion-card-content *ngIf="txCardHide">

    <ion-grid>
      <div class="container"><ion-label>MilliWatts</ion-label></div>
      <ion-row justify-content-center >
        <ion-input type="number" [ngModel]="milliwatt" (ngModelChange)="mwtodb($event)" ></ion-input>
      </ion-row>
      
      <div class="container"> <ion-icon name="git-compare-sharp"></ion-icon></div>
     
      <ion-row justify-content-center>
        <ion-input type="number" [ngModel]="dBm" (ngModelChange)="dbtomw($event)" ></ion-input>
      </ion-row>

      <div class="container"> <ion-label>dBm</ion-label></div>
  
    </ion-grid>
  </ion-card-content>
</div>
</ion-card >

  

</ion-content>
