<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Definition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">List of Definitions</ion-title>
    </ion-toolbar>
  </ion-header>



    <ion-grid>
      <ion-row >
        <ion-col class="bgcolor ion-text-center" size="3" text-center><b>Name</b></ion-col>
        <ion-col class="bgcolor ion-text-center" size="9" text-center><b>Definition</b></ion-col>
      </ion-row>
      <ion-row class="rowbgcolor ion-text-center" *ngFor="let item of definition; index as i">
        <ion-col  size="3" text-center> {{ item.short }}</ion-col>
        <ion-col  size="9" text-center> {{ item.desc }}</ion-col>
      </ion-row>
    </ion-grid>
 
</ion-content>
